<!DOCTYPE html>
<html>
<head>
   </head>

<body>
    <script>
     function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
            console.log('Welcome!  Fetching your information.... ');
          
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                FB.api("/me?fields=posts.limit(50)", function (response) {
                    console.log(response)
                    console.log(response.posts.data[0].message)
                    for (var i = 0; i < response.posts.data.length; i++) {
                        console.log(response.posts.data[i].message)
                    }



                });
            });
        }



   </script>
</body>
</html>
